<%- include("partials/header") -%>
    <h1>Create your todo list</h1>
    <ul>
      <% for (var i = 0; i < todoName.length; i++) { %>
          <li><a href="/list/<%= todoName[i] %>"><%= todoName[i] %></a></li>
      <% } %>
    </ul>
    <form class="" action="/create" method="get">
      <button type="Submit" name="list" value="<%=listTitle%>" formmethod="get">Create New Todo List</button>
    </form>
<%- include("partials/footer") -%>
