<%- include("partials/header") -%>
    <h1>Create your todo list - <%=listTitle%></h1>
    <ul>
      <% for (var i = 0; i < todoName.length; i++) { %>
          <li><form class="" action="/<%=todoName[i]%>" method="get">
            <button type="Submit" name="listName" value="/<%=timeStamp%>" formmethod="get"><%=todoName[i]%></button>
          </form></li>
      <% } %>
    </ul>
    <form class="" action="/list" method="get">
      <button type="Submit" name="list" value="<%=listTitle%>" formmethod="get">Create New Todo List</button>
    </form>
<%- include("partials/footer") -%>
