<%- include("partials/header") -%>
  <div class="">
    <h1>My Todo List</h1>
  </div>
  <div class="row">
    <ul class="main-list">
      <div class="col-lg-2 list-size">
        <form class="" action="/create" method="get">
          <button class="btn" type="Submit" formmethod="get"><i class="fas fa-file fa-6x"></i><br><br>New</button>
        </form>
      </div>
      <% lists.forEach(function(list) { %>
        <div class="col-lg-2 list-size">
          <li class="list-name"><a href="/list/<%=list.listId %>"> <%= list.title %> </a></li>
          <p class="items-in-list"><%=list.content.length%></p>
          <div class="bin">
            <form class="" action="index.html" method="post">
              <button type="button" name="button"><i class="far fa-trash-alt"></i></button>
            </form>
          </div>

        </div>
      <% }); %>
    </ul>
  </div>
<%- include("partials/footer") -%>
