<%- include("partials/header") -%>
<div class="box">
  <h1> <%= todoName %> </h1>
  <% for (var i = 0; i < items.length; i++) { %>
    <div class="item">
      <input type="checkbox">
      <p> <%=items[i]%> </p>
    </div>
  <% } %>
  <div class="input-group mb-3">
    <form action="/list/<%=listId%>" method="post">
      <input class="text-input form-control" type="text" name="items" placeholder="Todo">
      <div class="input-group-append">
        <button class="btn btn-primary" type="Submit">Add</button>
      </div>
    </form>
  </div>

</div>
<%- include("partials/footer") -%>
