<%- include("partials/header") -%>
<div class="box">
  <h1><u><%= todoName %></u><a href="/edit/<%=listId%>"><i class="edit-icon fas fa-edit fa-xs"></i></a></h1>
  <form action="/list/<%=listId%>" method="post">
    <div class="row form-row">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 create-input">
        <input class="form-control" type="text" name="items" placeholder="Todo" required>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 create-button">
        <button class="btn btn-primary" type="Submit">Add</button>
      </div>
    </div>
  </form>

    <h3>Added Task</h3>
    <form class="" action="/done/<%=listId%>" method="post">
      <% for (var i = 0; i < items.length; i++) { %>
        <div class="item">
          <button class="done" type="submit" name="checkItems" value="<%=items[i] %>"> <i class="done-icon fas fa-check"></i> </button>
          <p> <%=items[i]%> </p>
        </div>
      <% } %>
    </form>

    <h3>Completed Task</h3>
    <% for (i = 0; i < listDone.length; i++) { %>
      <div class="item item-complete">
        <p><%=listDone[i]%></p>
        <form class="" action="/delete/item/<%=listId %>" method="post">
          <button class="done" type="Submit" name="listDone" value="<%=listDone[i]%>"><i class="far fa-trash-alt"></i></button>
        </form>
      </div>
    <% } %>

  </div>
<%- include("partials/footer") -%>
