<%- include("partials/header") -%>
<div class="box">
  <h1><u><%= todoName %></u><a href="/edit/<%=listId%>"><i class="edit-icon fas fa-edit fa-xs"></i></a></h1>
  <% for (var i = 0; i < items.length; i++) { %>
    <div class="item">
      <input type="checkbox">
      <p> <%=items[i]%> </p>
    </div>
  <% } %>

  <form action="/list/<%=listId%>" method="post">
    <div class="row form-row">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 create-input">
        <input class="form-control" type="text" name="items" placeholder="Todo" required>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 create-button">
        <button class="btn btn-primary" type="Submit">Add</button>
      </div>
    </div>
  </form>
</div>
<%- include("partials/footer") -%>
