<%- include("partials/header") -%>
<div class="box">
  <h1><u><%= todoName %></u><a href="/edit/<%=listId%>"><i class="edit-icon fas fa-edit fa-xs"></i></a></h1>
  <form action="/list/<%=listId%>" method="post">
    <div class="row form-row">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 create-input">
        <input class="form-control" type="text" name="items" placeholder="Todo" required>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 create-button">
        <button class="btn btn-primary" type="Submit">Add</button>
      </div>
    </div>
  </form>

  <h3>Added Task</h3>
  <form class="" action="/done/<%=listId%>" method="post">
    <% for (var i = 0; i < items.length; i++) { %>
      <div class="item">
        <input type="checkbox" name="checkItems" value="<%= items[i] %>">
        <p> <%=items[i]%> </p>
      </div>
    <% } %>

    <button class="btn btn-primary" type="submit"> Done </button>
  </form>



  <h3>Completed Task</h3>
  <% for (i = 0; i < listDone.length; i++) { %>
    <div class="item">
      <p><%=listDone[i]%></p>
    </div>
  <% } %>
</div>
<%- include("partials/footer") -%>
